{% extends "base.html" %}

{% block content %}
    <div class="title-block">
        <h1>Yahtzee</h1>
        <p class="tag">score-card</p>
    </div>
    <div class="dice">
        <img src="static/img/dice.png" alt="Dice">
    </div>
    <a href="{{ url_for('numberplayers') }}" class="actionbutton">
        <div class="actionbuttondiv">New game</div>
    </a>

    <a href="{{ url_for('score') }}" class="actionbutton">
        <div class="actionbuttondiv">Continue game</div>
    </a>

{% endblock %}