{% extends "base.html" %}

{% block content %}
    <div class="back">
        <a href="{{ url_for('index') }}">
            <img src="/static/img/back.png" alt="Back">
        </a>
    </div>

    <h2>Join a game</h2>

    <div class="notice">
        Enter the code shown on the host's scorecard.
    </div>
    <br>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.code(size=8, class_='player-form', placeholder="e.g. 4F2K", autocapitalize="characters") }}<br>
        {% for error in form.code.errors %}
        <span class="fielderror">{{ error }}</span>
        {% endfor %}
        {{ form.submit(class_='player-form-btn') }}
    </form>

{% endblock %}
