{% extends "base.html" %}

{% block content %}
<div class="score-table">
	<div class='header'>
		<div class="player">
			<h3>Name of player</h3>
		</div>
	</div>
	<div class="break"></div>
	<div class="col1">
		<h4>Upper</h4>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>sum of ones</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/2.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>sum of twos</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/3.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>sum of threes</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/4.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>sum of fours</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/5.png">

			</div>
			<div class="inputscore">
				<input type="text">
			</div>
			<div class="commentscore">
				<p>sum of fives</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/6.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>sum of sixes</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<p class="bonustitle">bonus section</p>

			</div>
			<div class="inputscore">
				<p class="bonustotal">total so far: 42</p>
			</div>
			<div class="commentscore">
				<p>63 points or over</p>
			</div>
		</div>
	</div>

	<div class="col2">
		<h4>Lower</h4>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/3x.png">
			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>three of a kind</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/4x.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>four of a kind</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/house.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore"><br>
				<p>full house</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/small.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>small straight</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/large.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore">
				<p>large straight</p>
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/yatzee.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore"><br>
				<p>yatzee</p>
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/chance.png">

			</div>
			<div class="inputscore">
				<input type="text" id="fname" name="fname">
			</div>
			<div class="commentscore"><br>
				<p>chance</p>
			</div>
		</div>


	</div>
</div>
    <a href="{{ url_for('index') }}" class="actionbutton">
        <div class="actionbuttondiv">Next player</div>
    </a>
    <div class="currentscore">
		<p class="cstitle">Current score:</p>
		<p class="csplayer">Player name: 500 points</p>
		<p class="csplayer">Player name: 500 points</p>
		<p class="csplayer">Player name: 500 points</p>
		<p class="csplayer">Player name: 500 points</p>
		<p class="csplayer">Player name: 500 points</p>
	</div>


{% endblock %}