{% extends "base.html" %}

{% block content %}
<div class="score-table">
	<div class='header'>
		<div class="player">
			<h3>Name of player</h3>
		</div>
	</div>
	<div class="break"></div>
	<div class="col1">
		<h4>Upper</h4>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
		</div>
	</div>

	<div class="col2">
		<h4>Lower</h4>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">
			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-light">
			<div class="score-type">
				<img src="/static/img/1.png">

			</div>
			<div class="inputscore">
				how much
			</div>
			<div class="commentscore">
				one
			</div>
		</div>
		<div class="row-dark">
		</div>


	</div>
</div>

    <h2>Whoops</h2>
    <div class=notice>
        Something has gone horribly wrong. Let's go back...<br><br>
    </div>

    <a href="{{ url_for('index') }}" class="actionbutton">
        <div class="actionbuttondiv">Go back</div>
    </a>

{% endblock %}