{% extends "base.html" %}

{% block content %}
    <div class="back">
        <a href="{{ url_for('index') }}">
            <img src="/static/img/back.png">
        </a>
    </div>

    <h2>There is a game in progress.</h2>
    <div class=notice>
        Do you want to erase it? <br>
        All progress will be lost.<br><br>
    </div>


    <a href="{{ url_for('reset') }}" class="actionbutton">
        <div class="actionbuttondiv">Yep</div>    
    </a>
    
    <a href="{{ url_for('index') }}" class="actionbutton">
        <div class="actionbuttondiv">No, go back!</div>
    </a>

{% endblock %}